.fp{
    margin:100px;
}
.fp .fp-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.fp-top h1{
    flex: 2;
    text-transform: capitalize;
}
.fp-top p{
    flex: 3;
    color: gray;
}
.fp .fp-bottom{
    display: flex;
   justify-content: center;
    gap: 50px;
}